<form #FirstForm ="ngForm" (ngSubmit)=getValues(FirstForm.val) > 

            <input type="text" ng-model name="user"
            placeholder="enter your user name">

            <br> <br>

            <input type="text" ng-model name="First Name"
            placeholder="enter your first name">
             <br> <br>
            
            <input type="text" ng-model name="Last Name"
            placeholder="enter your last name">

            <br> <br>

            <input type="password" ng-model name="password"
            placeholder="enter password">
            <br> <br>

            <input type="radio" required name='gender' value='Male' [(ngModel)]='gender'>Male
            <br>
           
            <input type="radio" required name='gender' value='Female' [(ngModel)]='gender'>Female
            <br>

            <button>submit</button>
   </form>